.header {
    background:$dark-blue ;
    align-items:center;
    justify-content: space-between;
    color:white;
    text-decoration: none;
    h1 {
        margin:0;
        padding-left:5%;
    }
}